/*************
Global Styles
************** */



.wrapper {
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
}

.off-canvas-wrapper {
	background-color: #222;
}


/*************
Nav mobile
************** */

.title-bar {
	background-color: #222;
	height: 60px;
	padding-top: 15px;
}

#mobile-menu {
	background-color: #222;
	padding: 10px;
}

#mobile-menu li {
	list-style: none;
}

#mobile-menu a {
	color: rgba(255,255,255, 0.6);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color: rgba(255,255,255, 0.8);
}

/*************
Nav desktop
************** */

.nav-desktop {
	background-color: #222;
	padding: 0;
}

.site-logo {
	color: white;
}

.nav-desktop .menu-desktop {
	background-color: transparent;
	line-height: 50px;
}

.menu > li > a {
	display: inline-block;
	color: white;
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

.menu > li > a:hover {
	background-color: rgba(255,255,255, 0.1);
}

/*************
Hero
************** */
.hero-panel {
	/*background-color: #cccccc;*/
	padding: 50px 0px;
			/*top right bottom left*/
	height: 300px;
	/*background-image: url("../img/swirl_pattern.png");*/
  background-image: url("../img/picluster.jpeg");
}

.hero-panel a {
  color: #00a;
}
.hero-panel a:hover {
  text-decoration: underline;
}

.hero-panel h5 {
  color: #a10;
  font-weight: 500;
}

.hero-panel h6 {
  font-weight: 500;
}

/*************
Main
************** */
.main-content {
	padding: 40px 0px;
  text-align: justify;
  text-justify: inter-word;
}

.content-one {
	
}

.content-two {
	
}

.uni-logo {
  padding: 15px;
  width: 170px;
}

.twitter-container {
  float: right;
  border: solid 1px #ccc;
  width: 250px;
  margin-left: 20px;
}

/*************
Footer
************** */
footer {
	background-color: #222;
	padding: 25px 0px;
  text-align: center;
}
 
footer h4 {
	color: rgba(255,255,255, 0.8);
	font-size: 1.3em;
}

footer hr {
	border-color: rgba(255,255,255, 0.1);
	margin: 10px 0;
}
 
footer a {
	/*display: block;*/
	color: rgba(255,255,255, 0.6);
	font-size: 0.8em;
}

footer a span {
	font-weight: bold;
	color: rgba(255,255,255, 0.3);
	font-size: 3em;
  padding-right: 20px;
  padding-left: 20px;
}

footer a:hover {
	color: rgba(255,255,255, 0.8);
}

footer p {
	color: rgba(255,255,255, 0.8);
	font-size: 0.8em;
}

/*************
Media Query
************** */

@media (max-width: 640px) {
	.nav-desktop {
		display: none;
	}
}

@media (max-width: 800px) {
	.hero h1,
	.hero p {
		width: 100%;
	}
}


