<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
    {{ partial "html-head.html" . }}
	</head>

	<body>

    {{ partial "header.html" . }}
						
					<!-- Add your own content here -->
					<section class="main-content">
						<div class="wrapper row">
							<div class="small-12 medium-12 column content-one">

								<h1>{{ .Title }}</h1>
                <hr>
                
{{ range $.Site.Data.partners.members }}
<div class="partner">
<a href="{{ .web }}"><img src="{{ .logo }}" title="{{ .name }}" /></a>
</div>
{{ end }}

							</div>
						</div>
					</section>
							
					{{ partial "footer.html" . }}
				</div> {{ "<!-- End page content menu wrapper -->" | safeHTML }}
		
			</div> {{ "<!-- End of global off canvas inner wrapper -->" | safeHTML }}
		</div> {{ "<!-- End of global off canvas wrapper -->" | safeHTML }}
		
		
		{{ "<!-- JS includes -->" | safeHTML }}
		
		<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
		<script src="{{ .Site.BaseURL }}js/what-input.js"></script>
		<script src="{{ .Site.BaseURL }}js/foundation.js"></script>
		<script src="{{ .Site.BaseURL }}js/app.js"></script>
		
	</body>
</html>
  
  
  
  
