<!doctype html>
<html class="no-js" lang="en" dir="ltr">
	<head>
    {{ partial "html-head.html" . }}
	</head>

	<body>

    {{ partial "header.html" . }}
						
					<!-- Add your own content here -->
					<section class="main-content">
						<div class="wrapper row">
							<div class="small-12 medium-12 column content-one">

								<h1>{{ .Title }}</h1>
                <hr>
                
{{ range $.Site.Data.theteam.members }}
<div class="team-member">
  <div class="member-photo"><img src="{{ .photo }}" title="{{ .name }}" /></div>
  <div class="member-profile">
    <h3>{{ .name }}</h3>
    <p>{{ .role }}</p>
    <p>{{ .org }}</p>
    <p>
      {{ if ne .email nil }}
      <a href="mailto:{{ .email }}"><i class="fa fa-envelope"></i></a>
      {{ end }}
      <a href="{{ .web }}"><i class="fa fa-globe"></i></a>
    </p>
  </div>
</div>
<hr>
{{ end }}

							</div>
						</div>
					</section>
							
					{{ partial "footer.html" . }}
				</div> {{ "<!-- End page content menu wrapper -->" | safeHTML }}
		
			</div> {{ "<!-- End of global off canvas inner wrapper -->" | safeHTML }}
		</div> {{ "<!-- End of global off canvas wrapper -->" | safeHTML }}
		
		
		{{ "<!-- JS includes -->" | safeHTML }}
		
		<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
		<script src="{{ .Site.BaseURL }}js/what-input.js"></script>
		<script src="{{ .Site.BaseURL }}js/foundation.js"></script>
		<script src="{{ .Site.BaseURL }}js/app.js"></script>
		
	</body>
</html>
  
  
  
  
