{{ "<!-- BEGIN FOOTER -->" | safeHTML }}
<footer>
<div class="wrapper row small-up-1 medium-up-3">
  
  <p>
    <a href="mailto:{{ .Site.Params.social.email }}"><span><i class="fa fa-envelope" aria-hidden="true"></i></span></a>
    <a href="{{ .Site.Params.social.twitter }}"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
    <a href="{{ .Site.Params.social.github }}"><span><i class="fa fa-github" aria-hidden="true"></i></span></a>
  </p>
  <p>Copyright 2017 FR&micro;IT-Testbed.org. All Right Reserved.</p>
  <p>This project is funded by <a href="http://gow.epsrc.ac.uk/NGBOViewPanelROL.aspx?PanelId=1-3BJ22P&RankingListId=1-3BJ283">EPSRC</a>.</p>

</div>
</footer> {{ "<!-- END FOOTER -->" | safeHTML }}
	
