{{ "<!-- BEGIN HERO PANEL -->" | safeHTML }}

<section class="hero-panel">
	<div class="wrapper">
    <h1>{{ safeHTML .Site.Params.hero.herotitle }}</h1>
    <h4>{{ safeHTML .Site.Params.hero.herodescription }}</h4>
    <h5>{{ safeHTML .Site.Params.hero.heroremark1 }}</h5>
    <h6>{{ safeHTML .Site.Params.hero.heroremark2 }}</h6>
    <h6>{{ safeHTML .Site.Params.hero.heroremark3 }}</h6>

		<!--p>{{ .Site.Params.hero.herodiscription }}</p>
		<a href="" class="button primary">{{ .Site.Params.hero.btnblue }}</a>
		<a href="" class="button success">{{ .Site.Params.hero.btngreen }}</a-->
	</div>
</section> {{ "<!-- END HERO PANEL -->" | safeHTML }}
