{{ "<!-- BEGIN MAIN CONTENT -->" | safeHTML }}
<section class="main-content">
	<div class="wrapper row">
    <h1>The Project</h1>

    <p>The introduction of ubiquitous low-cost, low-power compute devices, e.g. in the Internet of Things (IoT) is fundamentally changing the computational landscape. Although we already see the benefits provided by special purpose IoT devices, the true capability is only realised when we can re-purpose large numbers of distributed devices as part of a much larger federated service.
    This is captured in the FR&micro;IT project hypothesis: <b>Massive aggregation of low-cost, low-power, commodity infrastructure can form an efficient and effective compute fabric for key distributed applications</b>.</p>
    <p>The participating institutions and external collaborators will build a distributed UK-wide federated testbed of lightweight compute nodes capable of exploring the research issues that arise from such a dynamic infrastructure.
This is in contrast to the existing centralised datacentre approach which occupies acres of land, cost millions of dollars; consumes megawatts of power and relies on a huge global network bandwidth. These trends are not sustainable and it is the emergence of low cost hardware such as the Raspberry Pi that will let us explore better solutions.
<b>We envisage a testbed comprising tens of thousands of nodes, geographically distributed and capable of challenging remote off-grid scenarios</b>.
In order to facilitate this we introduce the concept of a micro-datacentre, a physically small, low power and low cost compute cluster that can be pushed to the edge of distributed networks, fundamentally changing the current model of the centralised datacentre.
We have already built prototype micro-data centres at multiple sites, for example a mini-HPC cluster (Southampton University), a scale model cloud datacentre (Glasgow and Loughborough University ), and a decentralized sensing and communication platform for ultra-remote internet blackspots (Cambridge University).</p>
    <p><b>This project is about connecting together our isolated micro-datacenters to produce a federated, geo-distributed testbed</b>.
We currently have hundreds of individual nodes and intend to grow this to tens of thousands across the UK academic network.
The key challenge in this expansion will be the management of the underlying infrastructure, particularly given complexities in the networking fabric.
For example intermittent connectivity, firewalls, and low bandwidth connections. We will use lightweight management and orchestration software, combined with software-defined networking infrastructure to manage our federated testbed.
Through this work, we aim to demonstrate how resource-constrained micro-data centres can be harnessed as generic platforms to run virtualised, network-wide services in a resource-efficient and still high-performing manner, and enable the <i>as-a-Service</i> paradigm over low-cost low-power federated infrastructures.<p>

    <h2>The Team</h2>
    <p>The project is a collaboration of research groups in distributed system, networking, and HPC at <a href="http://www.cam.ac.uk">University of Cambridge</a>, <a href="http://www.gla.ac.uk">University of Glasgow</a>, <a href="http://www.lboro.ac.uk">University of Loughborough</a>, and <a href="http://www.southampton.ac.uk">University of Southampton</a>.</p>

    <img class="uni-logo" src="img/University_of_Cambridge_logo.svg" />
    <img class="uni-logo" src="img/Uni_glasgow.png" />
    <img class="uni-logo" src="img/Loughborough-Univeristy-Lboro-Logo.png" />
    <img class="uni-logo" src="img/University_of_Southampton_Logo.svg" />

		<!--div class="small-12 medium-6 column content-one">
			<h1>{{ .Site.Params.main.contentOneTitle }}</h1>
			<p>{{ .Site.Params.main.contentOneBody | markdownify }}</p>
		</div>
		<div class="small-12 medium-6 column content-two">
			<h1>{{ .Site.Params.main.contentTwoTitle }}</h1>
			<p>{{ .Site.Params.main.contentTwoBody | markdownify }}</p>
		</div-->
	</div>
</section> {{ "<!-- END MAIN CONTENT -->" | safeHTML }}
